*{
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(90deg, #020d42, #040147);
  min-height: 100vh;
  overflow-x: hidden;
  
}

html {
  scroll-behavior: smooth;
}

#about, .about {
  position: relative;
  font-size: 46px;
  top: 45px;
  right: 270px;
  color: #ffffff; /* cor do texto */
  text-shadow: 0 0 3px #ffffff, 0 0 4px #ffffff, 0 0 0px #ffffff;
  width: 600px;
}

#frsprin {
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 450px;
  right: 380px;
  font-size: 18px;
  text-shadow: 0 0 3px #ffffff, 0 0 4px #ffffff, 0 0 0px #ffffff;
}

#expo1 {
  position: relative;
  font-size: 98px;
  top: 45px;
  right: 265px;
  color: #b8b8b8;
  font-family: Arial, sans-serif;
  width: 600px;
}

#expo2 {
  position: relative;
  font-size: 98px;
  top: -65px;
  left: 100px;
  color: #1b4db9;
  text-shadow: 0 0 5px #1b4db9, 0 0 10px #1b4db9;
  font-family: Arial, sans-serif;
}

#year {
  width: 600px;
  position: relative;
  font-size: 48px;
  top: -65px;
  right: 270px;
  color: #4f6caa;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff; /* cor do texto */
  text-shadow: 0 0 3px #ffffff, 0 0 4px #ffffff, 0 0 0px #ffffff;
}

/* {
  border-color: red;
  border-width: 5px;
}

/* * {
    border: 2px solid;
    border-color: red;
} */

#foto_incial {
  position: relative;
  height: 450px;
  bottom: 350px;
  left: 46%;
  border-radius: 300px 300px 0px 0px;
  box-shadow: 0 0 20px #081c74, 0 0 20px #08026f, 0 0 0px #ffffff;
}

.retangulo1 {
  height: 120px;
  width: 1520px;
  background-color: #001449;
  position: relative;
  bottom: 340px;
}

.instagram {
  position: relative;
  bottom: 415px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #01125c;
}

section {
  position: relative;
  left: 50px;
}

#section-init {
    position: absolute;
    top: 0px;
}

#section-about {
  position: absolute;
  top: 650px;
  left: 210px
}

.section-day1 {
  position: absolute;
  top: 1300px;
}
.section-day2 {
  position: absolute;
  top: 1950px;
}
.section-day3 {
  position: absolute;
  top: 2600px;
}
.section-day4 {
  position: absolute;
  top: 3250px;
}
.section-day5 {
  position: absolute;
  top: 3900px;
}
.section-registers {
  position: absolute;
  top: 4600px;
}

.section-name {
  position: absolute;
  top: 5250px;
}

#name {
  font-size: 30px;
  border: none;
  
  border-radius: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#day1,
#day2,
#day3,
#day4,
#day5,
#registers1 {
  font-size: clamp(3rem, 7vw, 6rem);
  font-size: 95px;
  color: #ffffff;
  text-shadow: 5px 0 5px #ffffff, 3px 0 3px #ffffff, 0 0 0px #f6efef;
}

#textexpotec-oqueeexpotec,#textexpotec-objetivoexpotec {
  width: 600px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 14px;
  bottom: 100px;
}

.t1_sobre {
    font-size: 78px;
    text-shadow:
    0 0 5px #4f7eaa,
    0 0 10px #4f6caa,
    0 0 0px #4f6caa;
    position: relative;
    top: 120px;
}

.oqueeexpotec {
  top: 50px;
  right: 260px;
}

.objetivoexpotec {
    top: 100px;
    right: 260px;
}

#obj {
  position: relative;
  top: 80px
}

.t1_objetivo {
    font-size: 78px;
    text-shadow:
    0 0 5px #4f7eaa,
    0 0 10px #4f6caa,
    0 0 0px #4f6caa;
    position: relative;
    right: 120px;
    top: 150px;
    width: 900px;
}

.img_sobre {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    box-shadow:
    0 0 20px #081c74,
    0 0 20px #08026f,
    0 0 0px #ffffff;
}

#img1 {
    position: relative;
    bottom: 350px;
    left: 550px;
}

#img2 {
    position: relative;
    bottom: 220px;
    left: 610px;
}

#img3 {
    position: relative;
    bottom: 90px;
    left: 150px;
}

#img4 {
    position: relative;
    left: 200px;
    top: 40px;
}


.back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #1b4db9;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 7px 16px;
}
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  #textexpotec-oqueeexpotec,#textexpotec-objetivoexpotec {
    width: 60% ;
    font-size: 0.8rem;
    bottom: 100px;
    right:50%
  }
  #expo1 {
  position: relative;
  font-size: 5rem;
  top: 20vh;
  right: 210px;  
  width: 300px;
}

#expo2 {
  position: relative;
  font-size:5rem;
  top: 5vh;
  left: 70px;
  text-shadow: 0 0 5px #1b4db9, 0 0 10px #1b4db9;

  
}
#frsprin {
  text-align: center;
  color: #ffffff;
  position: relative;
  top:8vh;
  right: 200px;
  font-size: 1.2rem;
  text-shadow: 0 0 3px #ffffff, 0 0 4px #ffffff, 0 0 0px #ffffff;
}

.oqueeexpotec {
  top: 10vh;
  right: 60%;
}

.objetivoexpotec {
  top: 25vh;
  right: 60%;
}
#year {
  position: relative;
  font-size: 3rem;
  top: 20vh;
  right: 200px;  
  width: 300px;
  color: #4f6caa;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff; /* cor do texto */
  text-shadow: 0 0 3px #ffffff, 0 0 4px #ffffff, 0 0 0px #ffffff;
}
#about, .about {

  font-size: 1.6rem;
  top: 45px;
  right: 30%;
  width: 600px;
}
#about{
  position: relative;
  font-size: 1.6rem;
  top: 20vh;
  right: 200px;  
  width: 300px;

}
  #foto_incial {
    width: 50%;
    height: 50%;
    top: 10px;
    right:0px
  }

  .img_sobre {
    width: 25%;
    height: 25%;
    right: 50px;
    gap: 10px;
  }
  #img1 {
    position: relative;
    bottom: 400px;
    left: 250px;
}

#img2 {
    position: relative;
    bottom: 270px;
    left: 250px;
}

#img3 {
    position: relative;
    bottom: 200px;
    right: 5vh;
}

#img4 {
    position: relative;
    left: 250px;
    bottom:180px ;
}

}