h2 {
    position: relative;
    font-size: 46px;
    top: 100px;
    right: 270px;
    color: #ffffff; /* cor do texto */
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 0px #ffffff;
    width: 600px;
}

h1 {
    position: relative;
    font-size: 98px;
    top: 100px;
    right: 265px;
    color: #4f6caa;
    font-family: Arial, sans-serif;
    width: 600px;
    }

#h1 {
    position: relative;
    font-size: 98px;
    top: -10px;
    right: 270px;
    color: #1b4db9;
    text-shadow:
    0 0 5px #1b4db9,
    0 0 10px #1b4db9,
}

h3 {
    width: 600px;
    position: relative;
    font-size: 48px;
    top: -15px;
    right: 270px;
    color: #4f6caa;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff; /* cor do texto */
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 0px #ffffff;
}


* {
    border-color: red;
    border-width: 5px;
}

body {
    background-image: linear-gradient(90deg, #031572, #020126);
}

/* * {
    border: 2px solid;
    border-color: red;
} */

#foto_incial {
    position: relative;
    height: 450px;
    bottom: 350px;
    left: 750px;
    border-radius: 300px 300px 0px 0px;
    box-shadow:
    0 0 20px #081c74,
    0 0 20px #08026f,
    0 0 0px #ffffff;
}

.retangulo1 {
    height: 120px;
    width: 1520px;
    background-color: #001449;
    position: relative;
    bottom: 340px;
}

.frase_principal {
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 410px;
    right: 380px;
    font-size: 18px;
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 0px #ffffff;
}

.instagram {
    position: relative;
    bottom: 415px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #01125c;
}