h2 {
    position: relative;
    font-size: 56px;
    top: 130px;
    right: 270px;
    color: #ffffff; /* cor do texto */
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 0px #ffffff;
    width: 600px;
}

h1 {
    position: relative;
    font-size: 108px;
    top: 130px;
    right: 265px;
    color: #4f6caa;
    font-family: Arial, sans-serif;
    width: 600px;
    }

#h1 {
    position: relative;
    font-size: 108px;
    top: 10px;
    right: 270px;
    color: #1b4db9;
    text-shadow:
    0 0 5px #1b4db9,
    0 0 10px #1b4db9,
}

h3 {
    width: 600px;
    position: relative;
    font-size: 58px;
    top: 20px;
    right: 270px;
    color: #4f6caa;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff; /* cor do texto */
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 0px #ffffff;
}


* {
    border-color: red;
    border-width: 5px;
}

body {
    background-image: linear-gradient(90deg, #031572, #020126);
    height: 5000px;
}

/* * {
    border: 2px solid;
    border-color: red;
} */

#foto_incial {
    position: relative;
    height: 450px;
    width: 700px;
    bottom: 300px;
    left: 750px;
    border-radius: 400px 400px 0px 0px;
    box-shadow:
    0 0 20px #081c74,
    0 0 20px #08026f,
    0 0 0px #ffffff;
}

.retangulo1 {
    height: 120px;
    width: 1520px;
    background-color: #001449;
    position: relative;
    bottom: 340px;
}

.frase_principal {
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 390px;
    right: 330px;
    font-size: 28px;
    text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 0px #ffffff;
}

.instagram {
    position: relative;
    bottom: 415px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #01125c;
}

#logo_instagram {
    color: #01125c;
    font-size: 34px;
    position: relative;
    bottom: 445px;
    left: 645px;
}

.rodape {
    position: relative;
    top: 8800px;
}

.t1_sobre {
    font-size: 78px;
    text-shadow:
    0 0 5px #4f7eaa,
    0 0 10px #4f6caa,
    0 0 0px #4f6caa;
    position: relative;
    top: 120px;
}

.oqueeexpotec {
    width: 600px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 125px;
    right: 260px;
    font-size: 14px;
}

.t1_objetivo {
    font-size: 78px;
    text-shadow:
    0 0 5px #4f7eaa,
    0 0 10px #4f6caa,
    0 0 0px #4f6caa;
    position: relative;
    right: 120px;
    top: 150px;
    width: 900px;
}

.objetivoexpotec {
    width: 600px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 175px;
    right: 260px;
    font-size: 14px;
}

.img_sobre {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    box-shadow:
    0 0 20px #081c74,
    0 0 20px #08026f,
    0 0 0px #ffffff;
}

#img1 {
    position: relative;
    bottom: 350px;
    left: 1000px;
}

#img2 {
    position: relative;
    bottom: 220px;
    left: 1060px;
}

#img3 {
    position: relative;
    bottom: 90px;
    left: 600px;
}

#img4 {
    position: relative;
    left: 650px;
    top: 40px;
}

.section_incial {
    scroll-margin-top: 70px;
}