* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    list-style: none;
    padding: 0;
    background-color: #001449;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#menu li{
    display: inline;
    border-left: 2px solid #ffffff;
}

#menu li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu li a:hover {
    background-color: #012677;
}

.img_expotec {
    height: 60px;
    position: relative;
    top: 30px;
    left: 1400px;
    position: static;
}