* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    position: relative;
    display: flex;
    justify-content: center;
    left: 35px;
    top: 10px;
}

#menu li {
    display: inline;
}

#menu li a {
    gap: 20px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#menu li a:hover {
    background-color: #405ce9;
    border-radius: 20px;
}

.img_expotec {
    height: 60px;
    position: relative;
    top: -57px;
    left: 1400px;
}


#registro {
    display: inline-block;
    border : none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
}
#registers {
    display: inline-block;
    border : none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: black;
}